* {
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 120px;
    grid-template-rows: 50px 10px;
    align-items: end;
    justify-items: stretch;
    align-content: center;
    justify-content: end;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item {
    margin: 5px;
}