.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.col {
    display: grid;
}

.item {
    margin: 5px;
    padding: 0 10px;
    background: #228B22;
    text-align: right;
    font-size: 2em;
    color: #fff;
}

.item1 {
    grid-row-start: 4;
    grid-row-start: 5;
}

.item2 {
    grid-row-start: 3;
    grid-row-start: 4;
}

.item3 {
    grid-row-start: 2;
    grid-row-start: 3;
}

.item4 {
    grid-row-start: 1;
    grid-row-start: 2;
}