@import url("https://fonts.googleapis.com/css?family=Andada");
@import url("https://fonts.googleapis.com/css?family=Raleway");

* {
  box-sizing: border-box;
}

body {
    background: rgb(110, 208, 250);
    font-family: 'Andada', sans-serif;
    color: #fff 
}

#main {
    max-width: 450px;
    margin: 150px auto 0;
}

#main input {
    border: 0;
    border-bottom: 2px solid rgb(250, 249, 249);
    width: 100%;
    font-size: 2em;
    /* line-height: 35px; - configurar altura da linha */
    height: 70px;
    text-align: center;
    padding: 10px;
    background: transparent;
    color: rgba(255, 255, 255, 0.955);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}

#main input:focus {
    outline: 0;
    color: rgba(234, 234, 234, 0.899);
}

#main input::placeholder {
    outline: 0;
    color: #fff;
}

.main-tags {
    position: relative;
    display: block;
    height: 30px;
    margin: 20px 0;
    text-align: center;
    opacity: 0.5;
    cursor: not-allowed;
}

.main-tags:hover {
    opacity: 1;
    cursor: pointer;
}

.main-tags div {
    float: left;
    width: 30%;
}

.main-tags div span {
    padding: 10px 5px;
    box-shadow: 0px 0px 15px 0px #1976D2;
    width: 85%;
    display: inline-block;
    margin-right: 5%;
    border-radius: 30px;
    font-size: 1em;
    letter-spacing: 0.3px;
}

.main-tags div span:last-child {
    margin-right: 0;
}

.main-tags div span:hover {
    box-shadow: none;
    background-color: #1976D2;
    color: #fff;
}

#footer-link {
    position: absolute;
    left: 0;
    right: 0;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    text-align: center;
    letter-spacing: 1px;
    opacity: 0.5;
}

#footer-link:hover {
    opacity: 1;
}